<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="card border-10 pt-2 card-primary">
      <div class="card-body">
        <div class="row">
          <form class="validate-form" method="POST" action="/admin/add-subscription">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                <div class="form-group">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" placeholder="Subscription Name" value="" name="name"
                    required="" data-parsley-required-message="Name is required">
                  <% if (message.errors.name) { %>
                    <label class="error">
                      <%= message.errors.name.msg %>
                    </label>
                    <% } %>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                <div class="form-group">
                  <label class="form-label">Amount</label>
                  <input type="number" class="form-control" placeholder="₦5,000.00" value="" name="amount" required=""
                    data-parsley-required-message="Amount is required">
                  <% if (message.errors.amount) { %>
                    <label class="error">
                      <%= message.errors.amount.msg %>
                    </label>
                    <% } %>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                <div class="form-group">
                  <label class="form-label">Duration</label>
                  <select class="form-control select2" name="duration"
                    data-parsley-required-message="Duration is required" required>
                    <option value="">Select Duration</option>
                    <option value="1">Monthly</option>
                    <option value="12">Annual</option>
                  </select>
                  <% if (message.errors.duration) { %>
                    <label class="error">
                      <%= message.errors.duration.msg %>
                    </label>
                    <% } %>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                <div class="form-group">
                  <label class="form-label">Features</label>
                  <textarea class="form-control editor" name="features" required
                    data-parsley-required-message="Features is required"></textarea>
                  <% if (message.errors.duration) { %>
                    <label class="error">
                      <%= message.errors.duration.msg %>
                    </label>
                    <% } %>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-xl-12 text-center mt-1">
              <button class="btn btn-primary p-2" type="submit" style="font-size: 15px">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('.validate-form').parsley().on('field:validated', function () {
      var ok = $('.parsley-error').length === 0;
      $('.bs-callout-info').toggleClass('hidden', !ok);
      $('.bs-callout-warning').toggleClass('hidden', ok);
    })

  });
</script>